extends layout

block content

  - let biscuits = results
  h1= title
  - let create = `dispatch(\"/biscuit/create\")`
  button.btn( class="btn-info", onclick= create) Add new biscuit
  div(class="container-fluid")
    div(class="row m-1")
      each biscuit in biscuits
        - let destination = `dispatch(\"/biscuit/update?id=${biscuit._id}\")`
        - let detail = `dispatch(\"/biscuit/detail/?id=${biscuit._id}")`
        - let deletebiscuit = `dispatch(\"/biscuit/delete/?id=${biscuit._id}")`      
        div(class="row-sm-2", class="m-1") biscuit #{biscuit.Name} (#{biscuit.FlavourType}) is #{biscuit.Price}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
          button.btn( class="btn-success", onclick= detail) Details
          button.btn( class="btn-dark", onclick= deletebiscuit) Delete

  script.
    function dispatch(path){
      window.location.href=path
    }

    
